.wrapper{
	margin: 20px;
}

p, label, input {
	display: block;
	margin-left: 20px;
}

button {
	width: 80px;
	height: 40px;
	color: white;
	background-color: blue;
	border-radius: 10px;
	display: block;
	margin: 10px 20px;
}
